$header-color:#2C3E50;

$text-color1:#2C3E50;
$text-color2:#2C3E50;

$border-color:#E2E6E7;

$circle1-border:#C89210;
$circle1:#FFC12D;
$circle1-background: #FFC12D;

$circle2-border:#7BC200;
$circle2:#A7EC2F;
$circle2-background: #A7EC2F;

$circle3-border:#F55C43;
$circle3:#FEB1A4;
$circle3-background: #FEB1A4;

$circle4-border:#47B4F6;
$circle4:#85EBFA;
$circle4-background: #85EBFA;

$circle5-border:#8781BD;
$circle5:#AACDF6;
$circle5-background: #AACDF6;
