@mixin body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

@mixin content-texts {
    width: 343px;
    height: 39px;
}

@mixin div{
    height: 150px;
    width: 570px;
}
