body {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin-top: 7.5rem;
  margin-left: 23.5rem;
}

h1 {
  color: #2C3E50;
  font-size: 30px;
  font-weight: 300;
  margin-top: -75px;
  margin-bottom: 3rem;
  margin-left: -2px;
}

.first {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 7px solid #C89210;
  background-color: #FFC12D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.6rem;
  margin-left: 3rem;
}

.second {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 7px solid #7BC200;
  background-color: #A7EC2F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.6rem;
  margin-left: 3rem;
}

.third {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 7px solid #F55C43;
  background-color: #FEB1A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.6rem;
  margin-left: 3rem;
}

.fourth {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 7px solid #47B4F6;
  background-color: #85EBFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.6rem;
  margin-left: 3rem;
}

.fifth {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 7px solid #8781BD;
  background-color: #AACDF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.6rem;
  margin-left: 3rem;
}

.container {
  height: 510px;
  width: 1201px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h2 {
  font-weight: 900;
  font-size: 14px;
  text-align: left;
  color: #2C3E50;
  letter-spacing: 2px;
  word-spacing: -4px;
  margin-top: 14px;
}

p {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin-top: -20px;
  line-height: 24px;
  width: 21rem;
  color: #2C3E50;
  margin-left: 1px;
}

.big {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8.8rem;
  margin-top: -5rem;
}

#last-p {
  width: 972px;
  height: 39px;
  margin-top: -18px;
}

span {
  text-align: end;
  -webkit-transform: translate(22%, -3.4rem);
          transform: translate(22%, -3.4rem);
  font-weight: 900;
  color: #2C3E50;
}

#span {
  text-align: end;
  -webkit-transform: translate(42rem, -2.4rem);
          transform: translate(42rem, -2.4rem);
  font-weight: 900;
}

.a {
  height: 148px;
  width: 568px;
  border: 1px solid #E2E6E7;
  border-radius: 12px;
  margin-bottom: 1.9rem;
  margin-right: 29px;
  background-color: #FFC12D;
}

.b {
  height: 148px;
  width: 568px;
  border: 1px solid #E2E6E7;
  border-radius: 12px;
  margin-bottom: 1.9rem;
  margin-right: 29px;
  background-color: #A7EC2F;
}

.c {
  height: 148px;
  width: 568px;
  border: 1px solid #E2E6E7;
  border-radius: 12px;
  margin-bottom: 1.9rem;
  margin-right: 29px;
  background-color: #FEB1A4;
}

.d {
  height: 148px;
  width: 568px;
  border: 1px solid #E2E6E7;
  border-radius: 12px;
  margin-bottom: 1.9rem;
  margin-right: 29px;
  background-color: #85EBFA;
}

.e {
  height: 148px;
  width: 568px;
  border: 1px solid #E2E6E7;
  border-radius: 12px;
  margin-bottom: 1.9rem;
  margin-right: 29px;
  background-color: #AACDF6;
}
/*# sourceMappingURL=index.css.map */