$header-color:#2C3E50;

$text-color1:#2C3E50;
$text-color2:#A1B1BC;

$border-color:#E2E6E7;

$circle1-border:#F9B718;
$circle1:#FFC12D;

$circle2-border:#7BC200;
$circle2:#97E411;

$circle3-border:#F55C43;
$circle3:#FD7761;

$circle4-border:#47B4F6;
$circle4:#6FD9FC;

$circle5-border:#8781BD;
$circle5:#A39CDC;
